.chat-container{

    width:800px;

    height:650px;

    display:flex;

    flex-direction:column;

    background:white;

    border-radius:20px;

    overflow:hidden;
}

.messages{

    flex:1;

    overflow-y:auto;

    padding:20px;

    display:flex;

    flex-direction:column;

    gap:16px;
}