.chat-container{

    width:1000px;

    height:650px;

    display:flex;

    flex-direction:column;

    background:white;

    border-radius:22px;

    overflow:hidden;

    box-shadow:0 12px 35px rgba(0,0,0,0.12);

    border:1px solid #e9eef5;

    transition:0.3s;
}

.messages{

    flex:1;

    overflow-y:auto;

    padding:25px 25px 8px;

    display:flex;

    flex-direction:column;

    gap:18px;

    background:#d9ebfd;
}

.messages::-webkit-scrollbar{

    width:8px;

}

.messages::-webkit-scrollbar-track{

    background:#f1f5f9;

    border-radius:10px;

}

.messages::-webkit-scrollbar-thumb{

    background:#b7c4d6;

    border-radius:10px;

}

.messages::-webkit-scrollbar-thumb:hover{

    background:#7d97b5;

}